POSTGRES_DB=gatepilot
POSTGRES_USER=gatepilot
POSTGRES_PASSWORD=gatepilot_dev
REDIS_ADDR=127.0.0.1:6379
GATEPILOT_SERVER_ADDR=:8080
OIDC_ISSUER=http://127.0.0.1:9000/application/o/gatepilot/
OIDC_CLIENT_ID=gatepilot-dev
OIDC_CLIENT_SECRET=change-me
DEVICE_TOKEN_PEPPER=change-me
ACTIVATION_CODE_PEPPER=change-me
ENCRYPTION_KEY=change-me-32-bytes-minimum
